.center-saved {
  height: calc(100vh - 90px);
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 0px;
}

.center-saved::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.center-saved:hover::-webkit-scrollbar-thumb {
  background: #ffd75f;
  border-radius: 100px;
}

.center-saved .error {
  text-align: center;
}

.center-saved .error span {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.center-saved .card {
  background-color: rgba(248, 248, 249, 0.5);
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
  cursor: default;
  position: relative;
}

.center-saved .card span {
  color: #404040;
}

.center-saved .card:hover {
  border: 2px solid #ffd75f;
  background: rgba(255, 215, 95, 0.05);
  padding: 18px;
}

.center-saved .card .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.center-saved .card .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  min-width: 70px;
  margin-left: 20px;
}

.center-saved .card .buttons svg {
  cursor: pointer;
  height: 22px;
}

.center-saved .card .buttons svg:nth-child(1):hover path {
  stroke: red;
}

.center-saved .card .buttons svg:nth-child(2):hover path {
  stroke: #0078ff;
}

.center-saved .card .buttons svg:nth-child(3):hover path {
  stroke: red;
}

.center-saved .card .info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 14px;
}

.center-saved .card .groupName {
  text-transform: capitalize;
  font-size: 14px;
}

.center-saved .card .info span {
  color: #000;
}

.center-saved #copySaved {
  position: absolute;
  top: -1000px;
}

.center-saved .nothing-saved {
  text-align: center;
  margin-top: 10px;
}

.center-saved .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}