.create-category-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-category-popup .card1 {
    height: 180px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 12;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.create-category-popup .card1 .head {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.create-category-popup .card1 .head span {
    font-size: 16px;
    font-weight: 500;
}

.create-category-popup .card1 .input-container {
    margin-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.create-category-popup .card1 .input-container input {
    width: 90%;
    height: 40px;
    min-height: 40px;
    border: 2px solid #FFD75F;
    border-radius: 5px;
    padding: 0px 10px;
}

.create-category-popup .card1 .input-container button {
    background-color: #FFD75F;
    border: none;
    margin-top: 20px;
    align-self: center;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
}