.right-saved-filter {
  background-color: #fff;
  height: calc(100vh - 90px);
  border-radius: 10px 0px 0px 0px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

.right-saved-filter .head {
  font-weight: 500;
  font-size: 18px;
}

.right-saved-filter select {
  margin-top: 10px;
  height: 46px;
  width: 100%;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #f8f8f9;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  border: none;
  text-transform: capitalize;
  background: url(../../assets/DownArrow.svg) 98% center no-repeat #f8f8f9 !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
