.check-list {
  display: flex;
  flex-direction: column;
  width: calc(100% + 20px);
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 10px 15px;
  position: absolute;
  z-index: 10;
  top: 5px;
  left: -10px;
}

.check-list .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.check-list .head span {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.check-list .button-container {
  display: flex;
  flex-direction: column;
}

.check-list .button-container button {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0px;
  width: 100%;
  text-transform: capitalize;
  background: #f8f8f9;
  border-radius: 3px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}

.check-list .button-container button:hover {
  background: rgba(255, 215, 95, 0.1);
}

.check-list .button-container span {
  display: block;
  text-align: center;
}

.hide {
  display: none;
}

.check-list button {
  width: 100%;
  margin-top: 20px;
  align-self: center;
  height: 40px;
  min-height: 40px;
  background: rgba(255, 215, 95, 0.05);
  border-radius: 10px;
  border: none;
  color: #ffd75f;
  font-size: 18px;
}